p, ul{
    border:2px solid rgb(5, 85, 68);
    padding: .5em;
    }
    .block, li{
    border:2px solid  rgb(5, 85, 68);
    padding: .5em;
    }
    ul{
    display: flex;
    list-style: none;
    }
    li
    {
    margin:0px 10px;
    }
    .block{
    display: block;
    }